<header class="p-page">
  <a href="{{site.baseurl}}/">
    <h1>
      {{site.title}}
    </h1>
  </a>
  <div class="dmode">
    <img class="brightness-icon" src="{{site.baseurl}}/assets/icons/sun.svg" alt="Inverter contraste" />
    <a href="{{site.homepage}}"><img src="{{site.baseurl}}/assets/icons/home.svg" alt="Página Inicial" /></a>
    <a href="{{site.instagram}}"><img src="{{site.baseurl}}/assets/icons/instagram.svg" alt="Instagram" /></a>
    <a href="{{site.linkedin}}"><img src="{{site.baseurl}}/assets/icons/linkedin.svg" alt="Linkedin" /></a>
  </div>
</header>
