<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}
      <section class="posts">
        {% for post in site.posts %}
        <div class="post">
          <a href="{{site.baseurl}}{{post.url}}"><h3>{{post.title}}</h3></a>
          <!-- Look the author details up from the site config. -->
          {% assign author = site.data.authors[post.author] %}
          <!-- Output author details if some exist. -->
          {% if author %}
          <small>{{author.name}} — {{post.date|date_to_string}}</small>
          {% else %}
          <small>{{post.date|date_to_string}}</small>
          {% endif %}
          <p>
            {{post.content|truncate: 120}}
          </p>
        </div>
        {% endfor %}
      </section>
      {% include footer.html %}
    </main>
  </body>
</html>
